# Ignore Visual Studio Code settings
.vscode/

# Ignore build files
*.o
*.exe
*.out
*.dSYM

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore test files
test_update
query
test_showall
